body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor {
    background-color: darkgray; 
    padding: 20px; 
    box-sizing: border-box; 
}

#texto{
    font-size: 14px;
}

div {
    margin-bottom: 20px;
    width: 100%; 
}

input[type="text"] {
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="button"] {
    margin-top: 10px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    width: 100% ;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

#parrafo {
    font-weight: bold;
}
